@import "../../sassStyles/variables";

.account {
  display: grid;
  padding: 6rem 1rem 2rem;
  align-items: start;
  gap: 2rem;
  width: min(65rem, 100%);
  justify-self: center;

  &Header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;

    @include desktop {
      text-align: left;
    }
  }

  .accountFlex {
    display: grid;
    gap: 1.5rem;

    @include desktop {
      gap: 0;
      grid-template-columns: 20rem calc(100% - 20rem);
    }

    .introRoutes {
      display: grid;
      justify-items: center;
      align-self: start;

      @include desktop {
        display: grid;
        justify-items: left;
        gap: 2rem;
      }

      .accountIntro {
        display: grid;
        text-align: center;

        @include desktop {
          text-align: left;
        }

        .userName {
          margin-block: 1rem 0.4rem;
          font-size: 22px;
          font-weight: 500;
        }

        .userEmail {
          font-size: 15px;
          color: rgb(109, 109, 109);
        }

        .userPic {
          display: grid;
          border-radius: 50%;
          background-color: rgb(220, 220, 220);
          position: relative;
          justify-items: center;
          align-items: center;
          width: 10rem;
          height: 10rem;

          &::before {
            content: "";
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: white;
            top: 1.5rem;
          }

          &::after {
            content: "";
            position: absolute;
            width: 85px;
            height: 35px;
            border-radius: 150px 150px 0 0;
            border-color: white white white white;
            border-style: solid solid none solid;
            border-width: 5px;
            top: 5rem;
          }

          img {
            z-index: 4;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            object-fit: cover;
          }

          .accountImgLabel {
            position: absolute;
            margin: auto;
            z-index: 4;
            .imgEditIcon {
              color: $primary;
              font-size: 48px;
              display: none;
              cursor: pointer;
            }
          }

          .accountImgInput {
            display: none;
          }

          &:hover .imgEditIcon {
            display: grid;
          }
        }
      }

      .accountRoutes {
        display: none;
        color: grey;

        @include desktop {
          display: grid;
          gap: 1rem;
          font-size: 28px;
          font-weight: 500;
        }

        .activeAccountRoute {
          color: $primary;
        }
      }
    }

    .accountNav {
      display: flex;
      justify-content: space-around;

      @include desktop {
        display: none;
      }

      & > * {
        width: 3rem;
        height: 3rem;
        display: grid;
        place-items: center;
        font-size: 25px;
        border-radius: 50%;
        border: 1px solid $primary;
        color: rgb(109, 109, 109);
      }

      .activeAccountNav {
        color: white;
        background-color: $primary;
      }
    }
  }

  .imgPreviewDialog {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.415);
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 6;
    
    .imgPreview {
      position: relative;
      width: min(fit-content, 100%);
      height: fit-content;
      padding: 3rem;
      display: grid;
      place-content: center;
      background-color: white;
      border-radius: 10px;

      img {
        justify-self: center;
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 1rem;
      }

      .imgPreviewDialogIcon{
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 35px;
        color: $primary;
        cursor: pointer;
      }
    }
  }
}
