@import "../../sassStyles/variables";

.newArrivals {
  &Header {
    margin-block: 7rem 2rem;
    text-align: center;

    h1 {
      margin-bottom: 0.5rem;
      font-size: 45px;
    }

    h3 {
      color: $primary;
    }
  }

  &ShopSec {
    width: 100%;
    justify-self: center;
    display: grid;
  }
}
