/* Media Query */
$desktop: 768px;
$tablet: 481px;

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

/*Font Size*/
@mixin headerText {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

/*Colors*/
$primary: #c930a0;
$purple: #7303c0;
$secondary: #06003a;

@mixin color_gradient {
  background: #d232a7;
  background: -webkit-linear-gradient(to right, #d232a7, #7303c0, #06003a);
  background: linear-gradient(to right, #d232a7, #7303c0, #06003a);
}

@mixin logo {
  font-family: "Bruno Ace SC", cursive;
  font-size: 23px;

  & > * {
    font-family: "Pacifico", cursive;
  }
}

/*Buttons*/
@mixin buttonsStyles($color) {
  $hover-color: scale-color(#ba59d0, $lightness: 3%);

  background-color: $color;
  border: none;
  padding-inline: 0.5rem;
  cursor: pointer;
  color: white;
  font-family: inherit;
  border-radius: 5px;
  font-size: 14px;

  &:hover:not(:disabled) {
    background-color: $hover-color;
    transition: all ease-in 0.2s;
  }

  &.buttonLoad {
    display: flex;
    justify-content: center;

    &:disabled {
      background-color: #ba59d0;
      cursor: default;
    }

    p {
      translate: -80% 0;
      opacity: 0.5;
      transition: all 0.8s ease;
    }

    .loader {
      opacity: 1;
      translate: 80% 0;
      transition: all 1.8s ease;
    }
  }

  &:disabled {
    opacity: 0.3;
    user-select: none;
  }
}

/*Input Field*/
@mixin inputField {
  outline: none;
  width: 100%;
  font-family: inherit;
  padding: 0.1rem 0.4rem;
  font-size: 15px;
  border: 1px solid rgb(170, 168, 168);
  border-radius: 3px;

  &:focus {
    border-color: #d232a7;
  }
}


