@import "./variables";

.accountOutlet {
  display: grid;
  gap: 1rem;
  align-self: start;

  .headerEdit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .outletHeader {
      font-size: 30px;
      font-weight: 500;
    }
    
    .outletHeaderIcon{
      font-size: 20px;
      color: $primary;
      cursor: pointer;
    }
  }

  .outletIntro {
    font-size: 15px;
    color: rgb(60, 60, 60);
  }

  .infoList {
    display: grid;
    gap: 1rem;
    align-self: start;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .noOrderYet {
      padding-block: 1rem;
      color: gray;

      a {
        color: $primary;
        text-decoration: underline;
      }
    }

    .info {
      display: grid;
      gap: 0.5rem;
      padding: 1.5rem;
      border: 1px solid $primary;
      border-radius: 10px;

      &Flex {
        display: flex;
        justify-content: space-between;

        .infoTitle {
          font-weight: 500;
          color: gray;
        }

        .infoIcon {
          font-size: 23px;
          color: $primary;
        }

        .infoBadge {
          color: $primary;
        }
      }

      .changePassForm {
        .inputDiv {
          display: grid;
          grid-template-rows: 0fr;
          transition: 0.3s grid-template-rows ease;

          & > * {
            overflow: hidden;
          }

          .inputWraps {
            display: grid;
            gap: 0.5rem;
          }
        }

        .showInputDiv {
          grid-template-rows: 1fr;

          .inputWraps {
            padding-block: 0.5rem;
          }
        }
      }

      &Value {
        font-size: 20px;
        border: none;
        outline: none;
      }

      &ValueOrder {
        font-weight: 300;

        .dateVal {
          font-size: 18px;
          font-weight: 400;
        }

        .amountVal {
          font-size: 18px;
          font-weight: 500;
        }
      }

      &BtnCancel {
        margin-right: 1rem;
        background: none;
        border: none;
        justify-self: left;
        font-size: 18px;
        text-decoration: underline;
        color: $primary;
        margin-top: 0.5rem;
        cursor: pointer;
      }
    }

    .emailInfo {
      align-self: start;
    }

    .orderHistInfo{
      button{
        justify-self: left;
      }
    }
  }

  
    .saveCancel {
      display: flex;
      gap: 0.5rem;
    }
}
