@import "./variables";

.cartItem {
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0px 2px 3px -2px grey;
  position: relative;
  width: min(60rem, 100%);
  height: 5rem;
  color: $secondary;
  padding: 0.5rem;
  grid-auto-flow: column;

  img {
    width: 3.5rem;
    height: 4rem;
    object-fit: cover;
  }

  .cartItemName,
  .cartItemPrice {
    width: 5rem;
    @include tablet {
      width: 7rem;
    }
  }

  .qtyST {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 0.5rem;
  }

  small {
    display: none;

    @include tablet {
      display: grid;
    }
  }

  .deleteCartItemBtn {
    position: absolute;
    top: 0;
    right: -0.4rem;
    border: none;
    background: none;
    cursor: pointer;
    color: $secondary;
    font-size: 20px;
  }
}
