@import "./variables";

.outlets {
  display: grid;

  .outletDiv {
    cursor: pointer;
    padding: 1rem 0.5rem;
    font-size: 25px;
    display: flex;
    gap: 1rem;
    color: rgba(128, 128, 128, 0.718);

    span {
      border: 1px solid;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: grid;
      justify-content: center;
      align-content: center;

      p {
        font-size: 17px;
        font-weight: 500;
      }
    }

    .outletCheck {
      margin-left: auto;
      margin-block: auto;
      color: $primary;
    }
  }

  .active {
    color: $primary;
  }

  .outlet {
    border-bottom: 1px solid rgba(128, 128, 128, 0.718);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 1s ease;

    & > * {
      overflow: hidden;
    }
  }

  .showOutlet {
    grid-template-rows: 1fr;
  }
}

.checkout {
  display: grid;
  padding: 5.5rem 1rem;
  width: min(70rem, 100%);
  justify-self: center;
  align-content: baseline;
  gap: 1rem;
  
  @include desktop {
    gap: 0;
    grid-template-rows: fit-content 95%;
    grid-template-columns: 63% 37%;
  }

  &Header {
    @include headerText;
    margin-bottom: 2rem;

    @include desktop {
      grid-column: 1/-1;
    }
  }

  /*Order Summary*/
  .orderSummary {
    display: grid;
    border-top: 1px solid rgba(128, 128, 128, 0.718);
    align-self: baseline;
    transition: all 1s ease;

    @include desktop {
      border: none;
      order: 2;
      padding-inline: 2rem 1rem;
    }

    .outlets {
      .outlet {
        @include desktop {
          grid-template-rows: 1fr;
        }

        .orderSummaryWrap {
          width: 100%;
          display: grid;
          gap: 0.5rem;

          &Top {
            display: grid;
            gap: 0.5rem;
            box-shadow: 0px 2px 5px -2px grey;
            padding: 0.5rem;

            .summaryFlex {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-block: 0.2rem;
              font-size: 17px;

              &TotalValue {
                font-weight: 600;
              }
            }

            .summaryFlexTotal {
              @extend .summaryFlex;
              margin-top: 0.5rem;
              font-size: 18px;

              &TotalValue {
                font-weight: 600;
              }
            }
          }

          .editCartBtn {
            @include buttonsStyles($secondary);
            padding: 0.8rem;
            justify-self: right;
          }
        }
      }
    }

    .couponDiv {
      display: grid;
      gap: 0.2rem;
      padding-block: 1rem;

      input {
        @include inputField;
        padding-block: 0.4rem;
        font-size: 18px;
      }

      button {
        @include buttonsStyles($secondary);
        padding-block: 0.8rem;
      }
    }
  }

  /*Billing Details*/
  .billingDetails {
    display: grid;
    padding-inline: 1rem;

    @include desktop {
      display: flex;
    }

    &Form {
      display: grid;
      gap: 1.3rem;
      width: 100%;
      padding: 1rem 0;

      .inputFlexNames {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .formInputDiv {
          width: 100%;
        }
      }

      .inputFlex {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
      }

      .formInputDiv {
        display: grid;
        font-size: 17px;
        gap: 0.1rem;

        label {
          display: flex;
          font-weight: 300;
          font-size: 14px;
        }

        label:not(label[class="messageLabel"], label[class="postcode"])::after {
          content: "*";
          color: $primary;
          margin-left: 0.2rem;
          font-size: 14px;
        }

        input,
        textArea {
          @include inputField;
          padding-block: 0.4rem;
          font-size: 17px;
        }
      }

      .checkAllow {
        display: flex;
        gap: 0.5rem;
        font-size: 17px;

        input {
          width: 1rem;
        }
      }

      .customSelect {
        width: 100%;
        border: 1px solid grey;
        padding: 0.3rem 0.4rem;
        font-size: 18px;
        cursor: pointer;
      }

      .customSelect select {
        width: 100%;
        border: none;
        padding: 0 1em 0 0;
        font-family: inherit;
        font-size: inherit;
        outline: none;
      }

      .billingDetailsBtn {
        display: grid;
        gap: 0.3rem;
        justify-content: right;

        .contToPayment {
          @include buttonsStyles($primary);
          padding-block: 0.8rem;
          text-align: center;
          // border-radius: 0;
        }
      }
    }
  }

  /*Shipping Info summary*/
  .shippingInfo {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    font-weight: 300;
    font-size: 15px;

    .shippingInfoDivs {
      display: grid;
      gap: 0.1rem;

      .shippingInfoHeader {
        margin-bottom: 0.2rem;
        font-size: 17px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;

        button{
          background: none;
          border: none;
          cursor: pointer;
          border-bottom: 1px solid;
          font-size: 15px;
        }
      }
    }
  }

  /*Payment*/
  .payment {
    display: grid;
    font-size: 18px;
    align-content: center;
    padding-inline: 1rem;

    .orderInfo {
      display: grid;
      gap: 1rem;
      padding-block: 1rem;

      ul {
        display: grid;
        gap: 1rem;

        li {
          list-style: disc;
          list-style-position: inside;
        }
      }

      button {
        @include buttonsStyles($primary);
        padding: 0.8rem 1rem;
        justify-self: right;
      }
    }
  }

  /*Order Complete*/
  .orderComplete {
    .receipt {
      display: grid;
      text-align: center;
      align-self: center;
      text-align: center;
      gap: 1rem;
      padding: 2rem 1rem;
      .orderCompleteIcon {
        font-size: 150px;
        color: green;
        margin-inline: auto;
        display: block;
      }

      .toHomeBtn {
        @include buttonsStyles($secondary);
        padding: 0.8rem;
        margin: 0.6rem auto 0;
      }
    }
  }
}
