@import "./variables";

.home {
  width: 100%;
  justify-self: center;
  display: grid;
  color: $secondary;
  min-height: 100%;
  align-content: baseline;

  .showcase {
    position: relative;
    width: 100%;
    height: 35rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    .showcaseDetails {
      position: absolute;
      color: white;
      top: 13rem;
      left: 1rem;

      @include desktop {
        left: 5rem;
        top: 12rem;
      }

      .showcaseBigP {
        color: $primary;
        font-size: 45px;

        @include desktop {
          font-size: 60px;
        }
      }

      .showcaseBtn {
        @include buttonsStyles($primary);
        padding: 0.8rem 1rem;
        font-size: 16px;
        border-radius: 8px;
      }
    }
  }
}

.divLoader {
  height: 400px;
  background-color: rgb(246, 243, 243);
  justify-items: center;
  position: relative;

  &Top {
    height: 82%;
    width: 100%;
  }

  &Mid {
    height: 3%;
    width: 50%;
    margin-top: 1rem;
    margin-inline: auto;
  }

  &End {
    height: 3%;
    width: 50%;
    margin-top: 1rem;
    margin-inline: auto;
  }

  & > * {
    background: linear-gradient(
      120deg,
      #e5e5e5 30%,
      #f0f0f0 38%,
      #f0f0f0 40%,
      #e5e5e5 48%
    );
    background-size: 200% 100%;
    background-position: -100% 0;

    animation: move 2s infinite;

    @keyframes move {
      0% {
        opacity: 0;
        background-position: -100% 0;
      }
      10% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        background-position: 100% 0;
      }
    }
  }
}
