@import "./variables";

.nav {
  @include color_gradient;
  display: grid;
  padding: 1.2rem 0.8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  align-content: center;

  &Main {
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;

    .burgerIg {
      display: flex;
      justify-self: flex-start;
      gap: 1rem;

      @include desktop {
        display: none;
      }

      .burger {
        cursor: pointer;

        & > :first-child {
          width: 22px;
          margin-bottom: 5px;
        }

        & > :last-child {
          width: 25px;
          margin-top: 5px;
        }

        div {
          width: 28px;
          height: 3px;
          background-color: white;
          border-radius: 15px;
        }
      }

      .navIg {
        font-size: 20px;
        background: none;
        border: none;
        color: white;
      }
    }

    & &Left {
      display: none;

      @include desktop {
        display: flex;
        justify-self: left;
      }

      .showSearchBtn {
        cursor: pointer;
      }

      .linksWrapper {
        display: none;

        @include desktop {
          display: flex;
          gap: 1rem;
          word-spacing: 0.01em;
        }
      }
    }

    .logo {
      @include logo;
      padding-inline: 0.5rem;
    }

    & &Right {
      display: flex;
      justify-self: right;
      gap: 0.8rem;

      a,
      .openCart {
        display: flex;
        align-items: center;
        cursor: pointer;

        .iconBadge {
          position: relative;
          display: grid;

          .navBadge {
            position: absolute;
            background-color: $primary;
            border-radius: 50%;
            width: 19px;
            height: 19px;
            display: grid;
            justify-content: center;
            align-content: center;
            font-weight: 400;
            top: -6px;
            right: -6px;
            color: white;
          }
        }
      }

      & > *:first-child {
        display: none;

        @include tablet {
          display: flex;
        }
      }

      &Icon {
        font-size: 25px;
      }

      p {
        display: none;

        @include desktop {
          display: block;
          margin-left: 0.1rem;
          font-size: 14px;
        }
      }
    }
  }

  &Bottom {
    display: flex;
    justify-self: center;
    margin-inline: auto;
    gap: 1rem;
    width: min(25rem, 90%);
    height: fit-content;

    input[id="search"] {
      @include inputField;
      padding: 0.1rem 0.3rem;
      border-radius: 4px;
    }

    .searchBtn {
      @include buttonsStyles($primary);
      padding-inline: 0.5rem;
    }
  }

  .activeNavRight {
    color: $primary;
  }

  .activeNavLeft {
    color: $secondary;
  }
}

.floatingWhatsapp {
  position: fixed;
  bottom: 2rem;
  right: 0.5rem;
  color: white;
  font-size: 33px;
  background-color: green;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  justify-content: center;
  align-content: center;
  border: none;
  cursor: pointer;
}
