@import "./variables";

.orderInfo {
  display: grid;
  padding: 6rem 1rem 2rem;
  align-items: start;
  gap: 2rem;
  width: min(65rem, 100%);
  justify-self: center;

  &Header {
    font-size: 25px;
    font-weight: 500;
    display: grid;
    justify-content: center;

    span {
      font-weight: 300;
      font-size: 16px;
      color: $primary;
    }

    .orderDate {
      font-weight: 400;
      font-size: 15px;
      color: $primary;
      text-align: center;

      @include desktop {
        text-align: left;
      }
    }

    @include desktop {
      justify-content: left;
    }
  }

  .OrderInfoLists {
    width: min(60rem, 100%);
    justify-self: center;
    display: grid;
    gap: 3rem;

    .orderInfoListCustomer {
      display: grid;
      justify-items: center;
      box-shadow: 0px 2px 5px -2px grey;
      padding-inline: 2rem;
      padding-top: 1rem;
      
      .orderInfoListHeader {
        border-bottom: 1px solid rgb(188, 187, 187);
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 1rem;
        width: 100%;
        padding-bottom: 0.5rem;

        @include desktop {
          justify-self: left;
        }
      }

      .custDetailsList {
        margin-top: 1rem;
        display: grid;
        width: 100%;
        padding-bottom: 2rem;
        padding-top: 0;
        gap: 2rem;

        .custDetail {
          display: flex;
          justify-content: space-between;
          width: min(30rem, 100%);
          align-items: center;
          gap: 1rem;

          .custDetailFirstP {
            display: flex;
            align-items: center;
            font-weight: 500;

            .custDetailIcon {
              font-size: 24px;
              color: $primary;
              margin-right: 0.5rem;
            }
          }

          .custDetailSecondP{
            text-align: right;
          }

          .paid{
            background-color: $primary;
            color: white;
            font-size: 13px;
            padding: 0.5rem 0.8rem;
            border-radius: 3px;
            letter-spacing: 0.1em;
          }
        }
      }
    }

    .orderInfoListItems {
      display: grid;
      justify-items: center;
      box-shadow: 0px 2px 5px -2px grey;
      padding-inline: 2rem;
      padding-top: 1rem;

      .orderInfoListHeader {
        border-bottom: 1px solid rgb(188, 187, 187);
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 1rem;
        width: 100%;
        padding-bottom: 0.5rem;

        @include desktop {
          justify-self: left;
        }
      }

      .orderInfoListTotal {
        padding: 0.8rem 1.5rem 0.6rem 0;
        width: min(60rem, 100%);
        text-align: right;

        @include desktop {
          text-align: right;
        }
      }
    }
  }
}
