@import "./variables";

.shopList {
  width: min(74rem, 85%);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-self: center;
  gap: 2.5rem;
}

.shopListLoadMoreBtn {
  button {
    margin: 1rem auto;
  }
}
