@import "./variables";

.shopSection {
  display: grid;
  padding: 1rem;
  position: relative;
  min-height: 10vh;
  align-content: baseline;
  gap: 1.5rem;

  @include desktop {
    min-height: 50vh;
  }

  &Top {
    width: min(70rem, 100%);
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;

    .catSelected {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      background: none;
      border: none;
      font-size: 17px;
      cursor: pointer;
      color: $secondary;

      span {
        font-size: 25px;
        display: flex;
        align-items: center;
      }
    }
  }

  .shopList {
    width: min(70rem, 85%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-self: center;
    gap: 1.5rem;

    .itemCard {
      display: grid;
      justify-items: center;
      color: $secondary;
      position: relative;
      cursor: pointer;
      box-shadow: 0px 1px 5px 1px rgba(128, 128, 128, 0.13);
      overflow: hidden;

      &:hover .itemCardTop {
        translate: 0 -1.5rem;
      }

      &:hover .addToWishlistBtn {
        opacity: 1;
        right: 0.3rem;
      }

      &Top {
        transition: 0.4s ease;
        z-index: 2;
        display: grid;
        gap: 0.5rem;
        background-color: white;
        padding-bottom: 0.5rem;

        a {
          img {
            width: 100%;
            height: auto;
          }
        }

        .itemCardDetailsWrap {
          text-align: center;

          .nameSize {
            display: flex;
            justify-content: center;
            gap: 0.2rem;
            .itemCategory {
              font-style: italic;
            }
          }

          .price {
            font-size: 20px;
            text-align: center;
            margin-top: 0.5rem;
          }
        }
      }

      .addToCartBtn {
        position: absolute;
        bottom: 0;
        z-index: -1;
        padding-block: 0.2rem;
        background: none;
        border: none;
        font-size: 17px;
        color: $primary;
        cursor: pointer;
        justify-self: center;

        &:hover {
          color: $purple;
        }
      }

      .addToWishlistBtn {
        position: absolute;
        top: 0.4rem;
        right: -1rem;
        background: none;
        border: none;
        font-size: 30px;
        opacity: 0;
        color: rgb(73, 71, 71);
        z-index: 3;
        transition: 0.3s ease;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .loadMoreBtn {
    justify-self: center;
    @include buttonsStyles($primary);
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
  }
}
