@import "./variables";

.shopList {
  width: min(70rem, 85%);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-self: center;
  gap: 1.5rem;
  padding-block: 2rem;
}

.shopListLoadMoreBtn {
  button {
    margin-inline: auto;
    margin-bottom: 1rem;
  }
}
